@import url("https://fonts.googleapis.com/css2?family=Google+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Futura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Warnes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root {
  --color: #42fff6;
}
body {
  background-image: url("images/cyber.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center center; */
}
.container {
  position: relative;
}
.logo {
  width: 200px;
  margin: 20px auto;
  display: block;
}
.no-results {
  font-family: "Google Sans", sans-serif;
  font-size: 18px;
  color: #999;
  text-align: center;
  position: fixed;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: linear-gradient(45deg, #00ffd5, #00ffff, #0084ff, #00ff77);
  background-size: 800% 800%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: gradientAnimation 10s ease infinite, flickerAnimation 1s linear infinite; */
}

.results {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  max-width: 90%;
  z-index: 1;
}

.result-card {
  box-shadow: 1px 2px 4px rgba(0.2, 0.2, 0.2, 0.3);
  border-radius: 10px;
  padding: 12px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: brightness(120%) blur(30px);
  text-decoration: none;
  color: rgb(153, 153, 153);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  animation-name: fadeInWords;
  animation-duration: 1s;
  animation-fill-mode: both;
  transition: box-shadow 0.5s ease, transform 0.3s ease;
}

.result-card:hover {
  box-shadow: 0 0 15px #42fff6, 0 0 30px #42fff6;
  transform: scale(1.05);
}

.result-title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
  /* 添加以下样式以限制标题宽度并省略后续内容 */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.result-summary {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-bottom: 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* max-height: 40px; */
}
.result-summary-container {
  /* display: flex; */
  align-items: flex-start;
  margin-bottom: 8px;
}

.summary-label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  /* margin-right: 5px; */
  margin-bottom: 5px;
}

.result-match-rate {
  font-family: "Google Sans", sans-serif;
  font-size: 14px;
  color: #666;
}
@keyframes fadeInWords {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-word {
  display: inline-block;
  animation-name: fadeIn;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
#search {
  background-color: white;
  width: 450px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  color: rgb(112, 112, 112);
  caret-color: #333;
}
.searchbar {
  font-family: "Roboto", sans-serif;
  position: fixed;
  background-color: white;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: rgb(218, 218, 218) solid 1px;
  border-radius: 3em;
  width: 552px;
  height: 42px;
  box-shadow: 0px 0px 5px rgb(212, 212, 212);
  margin: 0 auto;
}
.mg {
  margin-right: 10px;
  height: 40px;
  margin-left: 15px;
}
#search,
.mcp,
.mg {
  vertical-align: middle;
}

.system-name {
  letter-spacing: 1.5px;
  cursor: pointer;
  font-family: "Dancing Script", "Warnes", cursive;
  font-weight: 500;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 55px;
  text-align: center;
  margin-bottom: 20px;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
p {
  margin: 0%;
  background: none;
  color: rgb(128, 128, 128);
  font-family: "Dancing Script", "Warnes", cursive;
  font-size: 65px;
  cursor: pointer;
}
.hover-effect span {
  animation: flicker 1s linear forwards;
}

.hover-effect #e {
  animation-delay: 0.2s;
}

.hover-effect #o {
  animation-delay: 0.4s;
}

.hover-effect #n2 {
  animation-delay: 0.5s;
}


p:hover span {
  animation: flicker 1s linear forwards;
}

p:hover #e {
  animation-delay: 0.2s;
}

p:hover #o {
  animation-delay: 0.4s;
}

p:hover #n2 {
  animation-delay: 0.6s;
}

@keyframes flicker {
  0% {
    color: #333;
  }
  5%,
  15%,
  25%,
  30%,
  100% {
    color: #fff;
    text-shadow: 0px 0px 5px var(--color), 0px 0px 10px var(--color),
      0px 0px 20px var(--color), 0px 0px 50px var(--color);
  }
  10%,
  20% {
    color: #333;
    text-shadow: none;
  }
}
